In [46]:
import pandas as pd

In [47]:
%%writefile file.yaml
file_type: csv
#dataset_name: testfile
file_name: place_2022_pixels
table_name: 2022_pixels
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - idx
    - x1
    - y1
    - x2
    - y2
    - color
    - user

Overwriting file.yaml

In [48]:
import os
os.chdir('/content/drive/MyDrive')

In [49]:
import testutility as util

In [50]:
# Read config file
config_data = util.read_config_file("file.yaml")

In [51]:
#inspecting data of config file
config_data

{'file_type': 'csv',
 'file_name': 'place_2022_pixels',
 'table_name': '2022_pixels',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'columns': ['idx', 'x1', 'y1', 'x2', 'y2', 'color', 'user']}

In [52]:
# read the file using config file
file_type = config_data['file_type']
source_file = "./" + config_data['file_name'] + f'.{file_type}'
print("",source_file)

 ./place_2022_pixels.csv

In [53]:
import os
os.chdir('/content/drive/MyDrive')

In [54]:
!pwd

/content/drive/MyDrive

In [55]:
# # Iterate over the file in chunks and process each chunk
# chunks = pd.read_csv(source_file, nrows = 10000)
# # Concatenate the processed chunk to the results DataFrame
# results = pd.concat(chunks)

# # Display the results
# results.head()

In [56]:
results_new = pd.read_csv(source_file, nrows=500000)
results_new.head()

   idx   x1   y1  x2  y2  color     user
0    0   42   42 NaN NaN      8  4068945
1    1  999  999 NaN NaN      6  4068946
2    2   44   42 NaN NaN     13  4068947
3    3    2    2 NaN NaN     30  4068948
4    4   23   23 NaN NaN     13  4068949

In [57]:
#validate the header of the file
util.col_header_val(results_new,config_data)

column name and column length validation passed

1

In [58]:
print("columns of files are:" ,results_new.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['idx', 'x1', 'y1', 'x2', 'y2', 'color', 'user'], dtype='object')
columns of YAML are: ['idx', 'x1', 'y1', 'x2', 'y2', 'color', 'user']

In [59]:
abs_file_path = os.path.abspath(source_file)

In [60]:
util.count_file_info(abs_file_path)

(160353105, 1, 4848513971)

First value is number of rows
Second value is number of columns
Last value is File size

In [64]:
# Open the gzip file in binary write mode using a context manager
file_name = abs_file_path.split('/')[-1]
import gzip
with gzip.open(abs_file_path, 'wb') as file:

    # Write the data to the file
    for line in results_new:
        line_data = line.strip().split(',')
        row_str = '|'.join(line_data) + '\n'
        file.write(row_str.encode())

# Print a message indicating the file has been written
print(f"File '{file_name}' written successfully.")

File 'place_2022_pixels.csv' written successfully.