In [8]:
# Importing the libraries
import numpy as np
import pandas as pd
import pickle

In [9]:
dataset = pd.read_csv('price.csv')
dataset

  bed_room    area  house_age  price
0      NaN  2300.0          9  50000
1      NaN  2152.0          6  45000
2     five  8520.0          7  60000
3      two  9025.0         10  65000
4    seven  9900.0          6  70000
5    three  8045.0         10  62000
6      ten  9564.0          7  72000
7   eleven     NaN          8  80000

In [10]:
dataset['bed_room'].fillna(0, inplace=True)

dataset['area'].fillna(dataset['area'].mean(), inplace=True)

X = dataset.iloc[:, :3]

In [11]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

X['bed_room'] = X['bed_room'].apply(lambda x : convert_to_int(x))

y = dataset.iloc[:, -1]

In [12]:
X

   bed_room         area  house_age
0         0  2300.000000          9
1         0  2152.000000          6
2         5  8520.000000          7
3         2  9025.000000         10
4         7  9900.000000          6
5         3  8045.000000         10
6        10  9564.000000          7
7        11  7072.285714          8

In [13]:
y

0    50000
1    45000
2    60000
3    65000
4    70000
5    62000
6    72000
7    80000
Name: price, dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

#Fitting model with trainig data
regressor.fit(X, y)

# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[5, 2150, 6]]))

[56050.91893625]